@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  box-sizing: border-box; 
  /* include the padding and border in an element's total width and height */
}

:root {
  --tfl-blue: #0119a9;
  --tfl-beige: #f9f5e1;
  --border-style: 2px solid var(--tfl-blue);
  --icon-style: {
    display: inline-block;
    content: '';
    width: 24px;
    height: 24px;
    margin-right: 0.5em;
    background-position: bottom;
    vertical-align: bottom;
  }
}

html, body {
  font-family: 'Roboto',Arial,Helvetica, sans-serif;
  font-size: 16px;
  background-color: var(--tfl-beige);
  color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;  
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.menu {
  display: table;
	justify-content: space-evenly;
	width: 33%;
	margin: 0 auto;
	padding: 0.5em;
  border-top: var(--border-style);
	border-bottom: var(--border-style);
  & > .row {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    margin: 8px 0;
  }
}
menu > * {
  display: table-row;
}
menu .col {
  display: table-cell;
}

.noDelays {
  color: green;
}

.delays {
  color: red;
  display: inline-block;
  &::before {
    display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      background-image: url(./icons/delay.png);
    }
}

  #day {
    &::before {
      display: inline-block;
      content: '';
      width: 32px;
      height: 32px;
      margin-right: 0.5em;
      background-size: cover;
      background-position: center;
      vertical-align:middle;
      background-image: url(./icons/day.png);
    }
  }
  #night {
    &::before {
    display: inline-block;
      content: '';
      width: 24px;
      height: 24px;
      margin-right: 0.5em;
      background-size: cover;
      background-position: center;
      vertical-align: bottom;
      background-image: url(./icons/night.png);
    }
  }

.headerTitle {
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 0;
  font-weight: bold;
  margin: 0 auto;
}

.title {
  font-size: 32px;
  line-height: 1.5;
  padding: 8px 0;
  font-weight: bold;
  color: var(--tfl-blue);
  border-bottom: var(--border-style);
  margin: 0 auto;
}

.subTitle {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}

.bodyText {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 1.2;
  margin: 16px 0;
}